<div class="header" #collectionMenu>
    <div class="navbar">
        <div class="menu-toggle" *ngIf="!isShowMenu" (click)="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div *ngIf="isShowMenu" (click)="toggleMenu()">
            <img src="/assets/images/close.png" style="width: 25px;">
        </div>
    </div>
    <div class="menu-logo">
        <div class="logo">
            <h1 (click)="navigateToHome()">T-Shirt</h1>
            <h2 (click)="navigateToHome()">Store</h2>
        </div>
    </div>
    <div class="logo">
        <div class="logo-item">
            <h1 (click)="navigateToHome()">T-Shirt</h1>
            <h2 (click)="navigateToHome()">Store</h2>
        </div>
        <div class="category" *ngIf="!isLoggedIn && !isAdmin()">
            <p (mouseover)="openManCollectionMenu()">Muškarci</p>
            <p (mouseover)="openWomanCollectionMenu()">Žene</p>
        </div>
        <div class="category" *ngIf="isLoggedIn && !isAdmin()">
            <p routerLink="/man-collection" routerLinkActive="active">Muškarci</p>
            <p routerLink="/woman-collection" routerLinkActive="active">Žene</p>
        </div>
    </div>

    <ng-container *ngIf="isOpenManCollectionMenu">
        <app-man-collection-menu appClickOutside (clickOutside)="handleClickOutside()" (mouseleave)="closeManCollectionMenu()"></app-man-collection-menu>
    </ng-container>

    <ng-container *ngIf="isOpenWomanCollectionMenu">
        <app-woman-collection-menu appClickOutside (clickOutside)="handleClickOutside()" (mouseleave)="closeWomanCollectionMenu()"></app-woman-collection-menu>
    </ng-container>

    <div class="nav" *ngIf="!isLoggedIn && !isAdmin()">
        <div class="items">
            <div class="person">
                <mat-icon a routerLink="/login">person</mat-icon>
            </div>
        </div>
        <div class="menuTab">
            <div class="mobile-person">
            <span class="material-icons" routerLink="/login">person</span>
        </div>
                <i class="material-icons" routerLink="/favorite-cart">favorite</i>
            <span class="badge-size">{{totalFavoriteItem$ | async}}</span>
            <span class="material-icons" routerLinkActive="active" (click)="openSideCart()">shopping_cart</span>
            <span class="badge-size">{{totalItem$ | async}}</span>
        </div>
    </div>

    <div class="nav" *ngIf="isLoggedIn && !isAdmin()">
        <i class="material-icons" routerLink="/favorite-cart">favorite</i>
        <span class="badge-size">{{totalFavoriteItem$ | async}}</span>
        <span class="material-icons" routerLinkActive="active">shopping_cart</span>
        <span class="badge-size">{{totalItem$ | async}}</span>
        <div class="client">
            <app-dropdown-component></app-dropdown-component>
        </div>
        <div class="computer-responsive">
            <app-dropdown-component></app-dropdown-component>
        </div>
    </div>

    <div class="nav" *ngIf="isLoggedIn && isAdmin()">
        <div style="display: flex;">
            <p class="order" routerLink="/admin/products">Admin</p>
            <p class="order" routerLink="/admin/orders">{{"orders" | translate}}</p>
        </div>
        <app-dropdown-component></app-dropdown-component>
    </div>
</div>

<div *ngIf="isShowMenu">
    <app-mobile-menu (closeEvent)="closeMenuBar()"></app-mobile-menu>
</div>

<div *ngIf="isOpenSideCart">
    <app-side-cart (closeEvent)="closeSideCart()"></app-side-cart>
</div>