<div class="wrapper">
    <div class="info">
        <div class="contact">
            <h1>Kontakt</h1>
            <div class="flex">
                <span>
                    <mat-icon>phone</mat-icon>
                </span>
                <p>031/800-8001</p>
            </div>
            <div class="flex">
                <span>
                    <mat-icon>add_to_home_screen</mat-icon>
                </span>
                <p>065/764-56-65</p>
            </div>
            <div class="flex">
                <span>
                    <mat-icon>add_to_home_screen</mat-icon>
                </span>
                <p>064/998-56-34</p>
            </div>
            <div class="flex">
                <span>
                    <mat-icon>schedule</mat-icon>
                </span>
                <p>Pon - Pet 08-20h</p>
            </div>
            <div class="flex">
                <span>
                    <mat-icon>location_on</mat-icon>
                </span>
                <p>Lokacija</p>
            </div>
        </div>
        <div class="information">
            <h1>Informacije</h1>
            <div class="content">
                <p>O nama</p>
                <p>Politika privatnosti</p>
                <p>Zaposlenje</p>
                <p>Poklon kartice</p>
                <p>Kontakt</p>
            </div>
        </div>
        <div class="service">
            <h1>Korisnička podrška</h1>
            <div class="content">
                <p>Uslovi korišćenja i prodaje</p>
                <p>Vracanje proiyvoda</p>
                <p>Isporuka</p>
                <p>Žalbe</p>
                <p>Instrukcije</p>
            </div>
        </div>
        <div class="service">
            <h1>Možda te interesuje</h1>
            <div class="content">
                <p>Farmerice</p>
                <p>Zimske jakne</p>
                <p>Trenerke</p>
                <p>Obuća</p>
            </div>
        </div>
    </div>
</div>