.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact,
.information,
.service {
  flex: 1;
}

.flex {
  display: flex;
  align-items: center;
}

span {
  margin-right: 10px;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.content {
  max-width: 300px;
}

.img {
  display: flex;
  gap: 10px;
}

img {
  max-width: 60px;
}

@media (min-width: 768px) and (max-width: 2000px) {

  .wrapper {
    height:46vh;
    background-color: rgb(252, 243, 243);
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    padding-bottom: 40px;
  
  }
  
  .info {
    width: 1650px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
  
  
  
  }
  
  
  .info h1 {
    font-size: 20px;
    font-weight: 450;
  
  }

  .info h6{
    font-size: 14px;
  }
  
  .flex {
    display: flex;
    margin-top: 10px;
  }
  
  .flex p {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 350;
    margin-top: 5px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  
  
  }
  
  .content p {
    font-size: px;
    margin-top: 5px;
    font-weight: 350;
  
  }

  .img{
    display: flex;
  }
}

@media (max-width: 767px) {
  .info {
    flex-direction: column;
    align-items: center;
  }

  .contact,
  .information,
  .service {
    width: 100%;
  }

  img {
    max-width: 14%;
  }

  
  .wrapper{
    text-align: center;
    padding-bottom: 60px;
    background-color: rgb(252, 243, 243);
  }

  .wrapper h6{
    font-size: 15px;
    line-height: normal;
  }

  .wrapper h1{
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
  }

  .contact .flex{
    text-align: center;
    display: flex;
    justify-content: center;
  }
}