
.checkout-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form-container,
.registration {
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  font-size: 18px;
}

h4{
  font-size: 18px;
  font-weight: 500;
}

h5{
  font-size: 15px;
}

h6{
  font-size: 15px;
}

button {
  background-color: #333;
  color: white;
  width: 42%;
  cursor: pointer;
  font-size: 14px;
  font-weight: 100;
  margin-top: 20px;
}

button p{
  margin-top: 10px;
}

@media (min-width: 768px) and (max-width: 2000px) {
  .checkout-container{
    margin-top: 100px;
    padding-bottom: 100px;
    height: 50vh;
  }

  .form-container{
    background-color: rgb(252, 243, 243);
  }

  .registration{
    background-color: rgb(252, 243, 243);
  }

  h4{
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  .form-container,
  .registration {
    flex: 0 0 calc(100% - 20px);
    background-color: rgb(252, 243, 243);
  }

  .checkout-container{
    padding-bottom: 45px;
    margin-top: 60px;
  }
}