<div class="mobile-menu">
    <div class="nav-menu">
        <ul class="item" id="navMenu">
            <p (click)="showManMenu()">Muškarci</p>
            <p (click)="showWomanMenu()">Žene</p>
            <p>Deca</p>
            <p>Novo</p>
        </ul>
        <hr style="margin: 25px 10px 0px 10px;">
        <div class="show-menu">
            <ng-container *ngIf="isShowManMobileMenu">
                <div class="flex" (click)="openDropdown()">
                    <p>Muška odeća</p>
                    <div class="icons">
                        <mat-icon *ngIf="!isOpenDropDown">arrow_forward</mat-icon> 
                        <mat-icon *ngIf="isOpenDropDown">arrow_downward</mat-icon>
                    </div>
            </div>
            <div class="dropdown-item" *ngIf="isOpenDropDown">
                <div class="flex">
                    <p (click)="redirectToManTshirtCollection()" (click)="closeMenuBar()">Muške Majice</p>
                </div>
                <div class="flex">
                    <p (click)="redirectToPantCollection()" (click)="closeMenuBar()">Muške Pantalone</p>
                </div>
            </div>
            </ng-container>
            <ng-container *ngIf="isShowWomanMobileMenu">
                <div class="flex">
                    <p (click)="redirectToWomanTshirtCollection()" (click)="closeMenuBar()">Ženske Čizme</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>