<div class="mobile-menu">
    <div class="nav-menu">
        <ul class="item" id="navMenu">
            <p (click)="showManMenu()">Muškarci</p>
            <p (click)="showWomanMenu()">Žene</p>
            <p>Deca</p>
            <p>Novo</p>
        </ul>
        <div class="show-menu">
            <ng-container *ngIf="isShowManMobileMenu">
                <div class="flex">
                <p (click)="redirectToManTshirtCollection()" (click)="closeMenuBar()">Muške majice</p>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </div>
            
            <div class="flex">
                <p (click)="redirectToManSweatshirtCollection()" (click)="closeMenuBar()">Muški duksevi</p>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </div>
            </ng-container>

            <ng-container *ngIf="isShowWomanMobileMenu">
                <div class="flex">
                    <p (click)="redirectToWomanTshirtCollection()" (click)="closeMenuBar()">Ženske majice</p>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
               
                <div class="flex">
                    <p (click)="redirectToWomanSweatshirtCollection()" (click)="closeMenuBar()">Ženski duksevi</p>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
              
            </ng-container>
        </div>
    </div>
</div>