<div class="checkout-container">
    <div class="form-container">
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
            <h5>Ukupno za plaćanje: <span>{{totalPrice}} RSD</span></h5>
            <input type="email" id="email" name="email" required formControlName="email" placeholder="Email*">

            <div class="flex-container">
              
                    <input type="text" id="firstName" name="firstName" required formControlName="name" placeholder="Ime*">
                

               
                    <input type="text" id="lastName" name="lastName" required formControlName="surname" placeholder="Prezime*">
                
            </div>

            <div class="flex-container">
               
                    <input type="text" id="city" name="city" required formControlName="city" placeholder="Grad*">
              

           
                    <input type="text" id="postalCode" name="postalCode" required formControlName="zip" placeholder="Poštanski broj*">
             
            </div>

            <input id="address" name="address" required formControlName="mobilePhone" placeholder="Broj telefona*">
            <div class="flex-container">
            <input id="address" name="address" required formControlName="address" placeholder="Adresa*">

            <input type="text" id="country" name="country" required formControlName="country" placeholder="Država*">
            </div>
            <textarea id="comment" name="comment" rows="4"
                placeholder="Ako želite, možete ostaviti komentar o isporuci..."
                formControlName="comment"></textarea>

            <div class="option-delivery">
                <h4>Opcije za isporuku</h4>
                <div class="options">
                    <p>Isporuka na kućnu adresu</p>
                    <p>Za porudzbine preko 6000, dostave je besplatna</p>
                </div>

            </div>
            <button type="submit" class="submit-button">
                <div class="filter-button">
                    <p>Potvrdite vašu porudzbinu</p>
                </div>
            </button>
        </form>
    </div>
    <app-expand-panel></app-expand-panel>


</div>