
.content {
    height: 100vh;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000000;
    padding: 10px;
}

.title-container {
    display: flex;
}

.title-container p {
    font-weight: 600;
}

.title-container span {
    flex: none;
    font-weight: 700;
    font-size: 20px;
}

.qt,
.qt-plus,
.qt-minus {
    display: block;
    float: left;
    font-size: 20px;
    cursor: pointer;
}

.cart-button:hover {
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.close-img {
    cursor: pointer;
    width: 20px;
}

.content-side-cart .img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.items-cart {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

.content-side-cart {
    display: flex;
    justify-content: space-between;
}

.col-price {
    font-weight: 200;
}

.submit-button {
    position: absolute;
    background-color: #333;
    color: rgb(0, 0, 0);
    width: 100%;
    cursor: pointer;
    font-size: 18px;
}

.product-image img {
    width: 120px;
}

.item-content {
    flex: auto;
}

.item-content h4 {
    font-size: 15px;
    font-weight: 500;
}

.item-content p {
    font-size: 15px;
    font-weight: 500;
}

.submit-button p {
    font-weight: 600;
    position: relative;
    bottom: 0;
}

.filter-button {
    margin-top: 8px;
    color: white;
}

.side-buttons {
    display: flex;
    justify-content: space-between;
}

.button-cart {
    position: relative;
    top: 500px;
    text-align: center;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 2000px) { 
    .content{
      position: fixed;
      width: 550px;
    }
}
.title-container span {
    margin-top: 8px;
}

.item-content {
    padding: 0px 0px 10px 10px;
}


.content-side-cart {
    margin-top: 30px;
}


.qt,
.qt-plus,
.qt-minus {
    margin-left: 20px;
}

.cart-button:hover {
    bottom: 100px;
    margin-left: 120px;
}

.content-side-cart .img {
    margin-right: 7px;
}

.submit-button{
    bottom: 80px;
}

@media (max-width: 767px) {
    .content {
        height: 100vh;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #ffffff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        z-index: 10;
        padding: 10px;
        position: fixed;
    }

    .item-content{
        padding: 0px 10px 0px 10px;
    }


    .submit-button {
        width: 95%;
        bottom: 54px;
    }

    .title-container{
        flex: none;
        margin-top: 7px;
        font-weight: 700;
        font-size: 20px;
        margin-right: 50px;
    }
}

