.content {
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 0;
}

.col-price {
  font-weight: 200;
}

.filter-price {
  display: flex;
  text-align: center;
}

.filter-price p {
  margin-top: 15px;
}

.custom-range {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.custom-range:hover {
  opacity: 1;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: rgb(174, 108, 33);
  cursor: pointer;
}

.custom-checkbox {
  position: relative;
  margin-top: 20px;

}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox label {
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  margin-top: 15px;
}

.custom-checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(174, 108, 33);
  background-color: #fff;
}

.custom-checkbox input[type="checkbox"]:checked+label::before {
  background-color: rgb(174, 108, 33);
}

.custom-checkbox label::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked+label::after {
  display: block;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content:space-evenly;
}

.responsive-button{
  background-color: white;
  color: black;
  font-weight: 700;
}

.responsive-buttonOne{
  background-color: black;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

img{
  position: absolute;
  display: none;
  width: 20px;
  z-index: 10;
}

@media (min-width: 768px) and (max-width: 2000px) {
  .col-price {
    font-weight: 200;
  }

  .checkbox-container{
    margin-bottom: 45px;
    margin-left: 10px;
  }

  .content{
    position: fixed;
    width: 550px;
  }

  .title p{
    text-align: center;
  }


  .button-container {
    position: relative;
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 10px;
    bottom: 0;
    top: 200px;
}

.responsive-button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}
  
  .filter-price {
    display: flex;
    text-align: center;
    color: black;
    margin-left: 15px;
  }
  
  .filter-price p {
    margin-top: 15px;
  }
  
  .custom-range {
    width: 60%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
  }
  
  .custom-checkbox label {
  color: black;
  }
  
}

@media (max-width: 767px) {

  .filter-menu {
    margin-top: 10px; 
  }

  img{
    display: block;
  }

  .button-container {
    top: 180px;
}

  .responsive-button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.button-container{
  display: flex;
  position: relative;
}

.content {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 10px;
  position: fixed;
}

mat-nav-list .title  p{
  text-align: center;
  margin: 0;
  padding: 0;
}

.col-price {
  font-weight: 200;
}

.filter-price {
  display: flex;
  text-align: center;
  color: black;
}

.filter-price p {
  margin-top: 15px;
}

.custom-range {
  width: 60%;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.custom-checkbox label {
color: black;
}
}


@media (max-width: 375px) {
  .button-container{
    top: 8px;
  }

  mat-nav-list .title  p{
    text-align: center;
    margin: 0;
    padding: 0;
  }
}