<div class="content">
    <mat-nav-list>
            <img src="/assets/images/close.png" (click)="closeFilterMenu()"/>
            <a class="title" mat-list-item>
                <p>Filtriraj</p>
            </a>
        <hr>
        <a class="col-price" mat-list-item>
            <p>Cena</p>
        </a>
        <div class="filter-price">
            <p>0$</p>
            <input class="custom-range" type="range" id="range" name="range" min="800" max="8000" [ngModel]="range"
                (ngModelChange)="onFilter($event)" />
            <p>{{range}}</p>
        </div>
        <div class="checkbox-container">
            <div>
                <p class="sort">Sortiranje</p>
            </div>
            <div class="custom-checkbox">
                <input type="checkbox" id="Novo" [checked]="checkedCategories['Novo']" (change)="onCheckboxChange($event, 'Novo')" />
                <label for="Novo">Novo</label>
            </div>
            <div class="custom-checkbox">
                <input type="checkbox" id="Staro" [checked]="checkedCategories['Staro']" (change)="onCheckboxChange($event, 'Staro')" />
                <label for="Staro">Staro</label>
            </div>
            <div class="custom-checkbox">
                <input type="checkbox" id="Outlet" [checked]="checkedCategories['Outlet']" (change)="onCheckboxChange($event, 'Outlet')" />
                <label for="Outlet">Outlet</label>
            </div>
        </div>
        <div class="checkbox-container">
            <div>
                <p class="size">Sortiranje</p>
            </div>
            <div class="custom-checkbox">
                <input type="checkbox" id="customCheckbox3" [checked]="checkedSizes[values.sizeOne]" (change)="onCheckboxSelectSize($event, values.sizeOne)" />
                <label for="customCheckbox3">{{values.sizeOne}}</label>
            </div>
            <div class="custom-checkbox">
                <input type="checkbox" id="customCheckbox4" [checked]="checkedSizes[values.sizeTwo]" (change)="onCheckboxSelectSize($event, values.sizeTwo)" />
                <label for="customCheckbox4">{{values.sizeTwo}}</label>
            </div>
            <div class="custom-checkbox">
                <input type="checkbox" id="customCheckbox5" [checked]="checkedSizes[values.sizeThree]" (change)="onCheckboxSelectSize($event, values.sizeThree)" />
                <label for="customCheckbox5">{{values.sizeThree}}</label>
            </div>
            <div class="custom-checkbox">
                <input type="checkbox" id="customCheckbox6" [checked]="checkedSizes[values.sizeFour]" (change)="onCheckboxSelectSize($event, values.sizeFour)" />
                <label for="customCheckbox6">{{values.sizeFour}}</label>
            </div>
            <div class="custom-checkbox">
                <input type="checkbox" id="customCheckbox7" [checked]="checkedSizes[values.sizeFive]" (change)="onCheckboxSelectSize($event,  values.sizeFive)" />
                <label for="customCheckbox7">{{values.sizeFive}}</label>
            </div>
        </div>
    </mat-nav-list>
    <div>
        <div class="button-container">
            <button class="responsive-button" (click)="clearFilter()">OBRIŠI</button>
            <button class="responsive-buttonOne" (click)="acceptFilter()">PRIKAŽI REZULTATE</button>
        </div>
    </div>
</div>