<div class="form-container">
    <form>
        <h4>NAPRAVI NOVI NALOG</h4>
        <h5>Vasi podaci</h5>
        <div class="flex-container">
            <div>
                <input type="text" id="firstName" name="firstName" required formControlName="name" placeholder="Ime*">
            </div>

            <div>
                <input type="text" id="lastName" name="lastName" required formControlName="surname" placeholder="Prezime*">
            </div>
        </div>

        <div class="flex-container">
            <div>
                <input type="text" id="firstName" name="firstName" required formControlName="email" placeholder="Email*">
            </div>

            <div>
                <input type="text" id="lastName" name="lastName" required formControlName="password" placeholder="Lozinka*">
            </div>
        </div>

        <input id="mobilePhone" required formControlName="mobilePhone" placeholder="Broj telefona*">


     
        <div class="option-delivery">
            <h6>Slazem se sa T-Shirt Shop politikom i privatnosti cuvanjem podataka</h6>
        </div>
        <button type="submit" class="submit-button">
            <div class="filter-button">
                <p>NAPRAVI NALOG</p>
            </div>
        </button>
    </form>
</div>