<div class="product-container">
    <div class="product-image">
        <img src="{{data.image}}" alt="Product Image">
    </div>
    <div class="product-info">
        <h2>{{data.title}}</h2>
        <p>{{data.description}}</p>
        <h2>{{data.price}} RSD</h2>
        <h3>Veličine</h3>
        <h5 class="circle-icon" id="small" (click)="toSelectedSize('S')">S</h5>
        <h5 class="circle-icon" id="medium" (click)="toSelectedSize('M')">M</h5>
        <h5 class="circle-icon" id="large" (click)="toSelectedSize('L')">L</h5>
        <h5 class="circle-icon" id="extra-large" (click)="toSelectedSize('XL')">XL</h5>
        <h5 class="circle-icon" id="extra-extra-large" (click)="toSelectedSize('XXL')">XXL</h5>
        <div class="button-container">
            <button class="custom-button" (click)="addToCartItem(data)">Dodaj u korpu</button>
            <button class="custom-button" (click)="buyNowProduct(data)">Kupi odmah</button>
            <span class="heart-icon" title="Dodaj u omiljene" (click)="addToFavorite(data)">favorite_border</span>
          </div>
    </div>
    <div class="wrapper">
      <div class="info">
        <div class="flex">
          <h5>ROK ISPORUKE DO<br>
            2 RADNA DANA</h5>
        </div>
        <div class="flex">
          <h5>BESPLATNA DOSTAVA ZA PORUDŽBINE NA SAJTU<br>
            ZA IZNOS PREKO 6.000 RSD
            </h5>
        </div>
        <div class="flex">
          <h6>POVRAT ROBE<br>
            U ROKU OD 14 DANA</h6>
        </div>
      </div>
    </div>
</div>