<div class="home">
    <div class="home-content">
        <h3>Kolekcija</h3>
        <h1>Jesen/Zima</h1>
        <h3>Stize</h3>
        <h5>Pripremi se</h5>
        
    </div>
</div>
<div class="banner-container" (click)="toNavigate()">
    <div class="discount-banner1">
        <h1>NOVA <br> KOLEKCIJA </h1>
        <h5>Jesen / Zima</h5>
        <h2>DUKSEVI</h2>
    </div>

    <div class="discount-banner2">
        <h2>MAJICE</h2>
        <h5>Za svakodnevne prilike.</h5>
    </div>
</div>
<app-banner-page></app-banner-page>
<app-newsletter></app-newsletter>
<app-delivery-information></app-delivery-information>
<app-footer-component></app-footer-component>
