
<div class="content">
    <mat-nav-list>
        <div class="menu-item">
            <div class="logo">
                <div class="logo-item">
                    <h1>T-Shirt</h1>
                    <h2>Store</h2>
                </div>
            </div>
            <div class="collection-item">
                <div class="item1">
                    <p (mouseover)="openManCollectionMenu()">Muškarci</p>
                </div>
                <div class="item2">
                    <p (mouseover)="openWomanCollectionMenu()">Žene</p>
                </div>
            </div>
        </div>
        <div class="items">
            <div class="collection">
                <div class="flex" (click)="openDropdown()">
                    <h1>Muška odeća</h1>
                    <div class="icons">
                        <mat-icon *ngIf="!isOpenDropDown">arrow_forward</mat-icon> 
                        <mat-icon *ngIf="isOpenDropDown">arrow_downward</mat-icon>
                    </div>
            </div>
                <div *ngIf="isOpenDropDown">
                    <h1 (click)="openCollection()">MUŠKE MAJICE</h1>
                    <h1 (click)="openSweatshirtManCollection()">MUŠKE PANTALONE</h1>
                </div>
            </div>
        </div>
    </mat-nav-list>
</div>

    <ng-container *ngIf="isOpenManCollectionMenu">
        <app-man-collection-menu appClickOutside (clickOutside)="handleClickOutside()" ></app-man-collection-menu>
    </ng-container>
    <ng-container *ngIf="isOpenWomanCollectionMenu">
        <app-woman-collection-menu appClickOutside (clickOutside)="handleClickOutside()" ></app-woman-collection-menu>
    </ng-container>
