.content {
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
    width: 700px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 10px;
    position: fixed;
  }
  
  .logo-item {
    display: flex;
    align-items: center;
  }

  .logo-item h2{
    font-size: 30px;
  }

  .menu-item{
    display: flex;
  }

  .collection-item{
    display: flex;
  }


  @media (min-width: 768px) and (max-width: 2000px) {
    .logo-item {
        display: flex;
        align-items: center;
        margin-left: 50px;
        margin-top: 2px;
      }
    
      .logo-item h2{
        font-size: 30px;
      }
    
      .menu-item{
        display: flex;
      }
    
      .collection-item{
        display: flex;
        margin-left: 160px;
      }

      .collection-item p{
        margin-right: 114px;
        font-size: 16px;
        font-weight: 100;
        margin-top: 10px;
        text-transform: uppercase;
     cursor: pointer;
      }

      .items{
        margin: 100px 50px 50px 50px;
      }

      .new-collection h1{
        font-size: 20px;
        cursor: pointer;
      }

      .collection h1{
        font-size: 20px;
        cursor: pointer;
      }

      .collection{
        margin-top: 70px;
      }

      
  .collection-item .item1{
    margin-left: -24px;
  }
  }