.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.form__field {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid lightgray;
}

.submit-button {
  background-color: #555;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.filter-button {
  display: flex;
  align-items: center;
}

mat-icon {
  margin-right: 5px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: normal;
  padding: 20px;
  margin-top: 80px;
}

.example-card {
  width: 300px;
  margin: 20px;
}

.heart-icon {
  font-family: 'Material Icons';
  font-size: 27px;
  cursor: pointer;
  color: rgba(255, 0, 0, 0.5);
}

.container {
  position: relative;
}

.container img {
  width: 100%;
  cursor: pointer;
}

.card-title {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.price-container {
  color: #fff;
  font-size: 14px;
  padding: 1px;
  background: #614848;
  padding: 3px 20px 3px 20px;
}

.paginator {
  margin-top: 20px;
  margin-right: 50px;
}

@media (min-width: 768px) and (max-width: 2000px) {
  .search-container .mat-icon{
    display: block;
  }

  .search-container{
    background-color: rgb(255, 255, 255);
  }

  .product-container{
    padding-bottom: 70px;
  }


  .main-container{
    margin-top: 100px;
  }

  .form__field{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    margin-left: 50px;
    background: transparent;
    transition: border-color 0.2s;
  }

  .submit-button{
    position: absolute;
    right: 50px;
    text-transform: uppercase;
    width: 15%;
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: 400;
    padding: 12px;
  }

  .submit-button p{
    margin: 0px 0px 0px 47px;
    font-weight: 600;
  }

  .example-card{
    width: 400px;
  }
  
}

@media (max-width: 767px) {
  .search-container {
    padding: 10px;
  }

  
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  margin-top: 80px;
}

  .form__field {
    width: 90%;
  }

  .mat-mdc-card {
    box-shadow: none;
  }

  .submit-button{
    padding: 0px 14px 11px 0px;
    margin-bottom: 10px;
  }

 .submit-button{
  display: none;
 }

 .mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 33px;
  width: 45px;
  overflow: hidden;
  font-size: 35px;
}
}