<form [formGroup]="productForm">
  <h1>{{isEdit ?  'Izmeni proizvod' : 'Dodaj proizvod'}}<h1>
<div class="form-container">
  <div class="control">
    <div>
      <input type="file" name="image" id="upload-file" (change)="onSelectFile($event)" id="image"
        placeholder="Photo" formControlName="image" />
      <img id="upload-file" [src]="!previewImage ? url : previewImage" class="preview-image" alt="Preview Image"
        title="Preview Image" />
    </div>
  </div>
  <div class="control">
    <label for="title">Naziv proizvoda</label>
    <input type="text" name="title" class="input" id="title" placeholder="Title" formControlName="title" />
  </div>
  <div class="control">
    <label for="description">Opis proizvoda</label>
    <input type="text" name="description" class="input" id="description" placeholder="Description"
      formControlName="description" />
  </div>

  <div class="custom-select" style="width:400px; margin-left: 10px;">
    <label for="description">Kategorija</label>
    <select formControlName="category">
      <option>empty</option>
      <option><p>Muskarci</p></option>
      <option><p>Zene</p></option>
    </select>
  </div>

  
  <div class="custom-select" style="width:400px; margin-left: 10px;">
    <label for="suit-category">Kategorija odela</label>
    <select formControlName="suitCategory">
      <option><p>empty</p></option>
      <option><p>Dukserice</p></option>
      <option><p>Majice</p></option>
      <option><p>Pantalone</p></option>
      <option><p>Cizme</p></option>
    </select>
  </div>

  <div class="custom-select" style="width:400px; margin-left: 10px;">
    <label for="description">Pod kategorija</label>
    <select formControlName="subCategory">
      <option><p>empty</p></option>
      <option><p>Novo</p></option>
      <option><p>Staro</p></option>
      <option><p>Outlet</p></option>
    </select>
  </div>

  <div class="custom-select" style="width:400px; margin-left: 10px;">
    <label for="size">Velicina</label>
    <select formControlName="size">
      <option><p>S</p></option>
      <option><p>M</p></option>
      <option><p>L</p></option>
      <option><p>XL</p></option>
      <option><p>XXL</p></option>
      <option><p>38</p></option>
      <option><p>39</p></option>
      <option><p>40</p></option>
      <option><p>41</p></option>
      <option><p>42</p></option>
      <option><p>50</p></option>
      <option><p>52</p></option>
      <option><p>54</p></option>
      <option><p>56</p></option>
      <option><p>58</p></option>
    </select>
  </div>
  <div class="control">
    <label for="quantity">Kolicina</label>
    <input type="number" id="quantity" class="input" name="quantity" min="1" max="10000"
      formControlName="quantity" />
  </div>
  <div class="control">
    <label for="price">Cena</label>
    <input type="number" id="price" name="price" class="input" min="1" max="10000" formControlName="price" />
  </div>

  <div class="control">
    <button type="submit" class="submit-button" (click)="postProductsData()">
      <div>{{isEdit ?  'Izmeni proizovd' : 'Dodaj proizvod'}}</div>
    </button>
  </div>
</div>
    